.NavElement{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    height: 39px;
    font-size: small;
    color: rgb(82, 82, 82);
    width: 45px;
    margin-top: -10px;


}
.NavElement:hover{
    cursor: pointer;
    
}
.NavElementText{
    margin-left: 2px;
}