.resultElement{
    margin-left: 180px;
    margin-bottom: 25px;
}
.resultTitle{
    text-decoration: none;
}
.resultLink{
    color: rgb(66, 66, 66);
    font-size: 14px;
}
.resultHeader{
    max-width: 500px;
    color: rgb(58, 0, 151);
    font-weight: 500;
    font-size: larger;
}
.resultDescription{
    max-width: 600px;
}